body{
  width: 100%;
  overflow-x: hidden;
  background-color: #5a5a5e;
}



.logo{
  width: 200px;
}

.container-fluid a{
  padding-left: 10px;
  
}

.productos1{
  font-family: 'Akshar', sans-serif;
  font-size: 25px;
  color: black;
  text-decoration: none;
  padding: 10px;
}

.productos1:hover{
  color: white;
}

.nav1 {
  font-family: 'Akshar', sans-serif;
  font-size: 25px;
  color: black;
  text-decoration: none;
  padding: 10px;
}

.nav1:hover{
  color: rgb(207, 13, 13);
}

.dropdownn{
  font-family: 'Akshar', sans-serif;
  font-size: 20px;
  list-style-type: none;
  text-decoration: none;
  color: black;
  display: flex;
  padding: 10px;
}

.dropdownn:hover{
  background-color: rgba(68, 68, 68, 0.116);
  color: black;
}

.nav-item{
  padding: 20px;
}